{% extends 'base.html'%}
{% block content %}

<div class="card">
  <div class="card-header">
    <h1><strong>{{customer_records.first_name}} {{customer_records.last_name}}</strong></h1>
  </div>
  <div class="card-body">
    
	<p class="card-text"> <strong>Email: </strong>	{{ customer_records.email}}</br> </p>
	<p class="card-text"> <strong>Phone: </strong>	{{ customer_records.phone}}</br> </p>
	<p class="card-text"> <strong>Adress</strong>		{{ customer_records.address}}</br> </p>
	<p class="card-text"> <strong>City: </strong>	{{ customer_records.city}}</br> </p>
	<p class="card-text"> <strong>State: </strong>	{{ customer_records.state}}</br> </p>
	<p class="card-text"> <strong>ZipCode: </strong>	{{ customer_records.zipcode}}</br> </p>
	<p class="card-text"> <strong>Created At: </strong>	{{ customer_records.created_at}}</br> </p>
	
  </div>
</div>

</br></br>
<a href="{% url 'home'  %}" class="btn btn-secondary">Back</a>

<a href="{% url 'delete' customer_records.id %}" class="btn btn-danger">Delete</a>
    
<a href="{% url 'update_record' customer_records.id %}" class="btn btn-secondary">Update Record</a>


  {% endblock %} 
	
	
	
	
	
	
	



    



